.container {
  height: 450px;
  width: 450px;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}