body {
  background: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%) fixed;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.container {
  height: 450px;
  width: 450px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circle1, .crc {
  height: 400px;
  width: 70px;
  border: 3px solid whitesmoke;
  position: relative;
  border-radius: 50%;
  transition: 2.5s linear;
}

.circle1 {
  top: 25px;
  left: 190px;
}

.crc {
  bottom: 3px;
  right: 3px;
}

.circle1:hover {
  animation: spin 20s infinite linear forwards;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.circle1:hover .crc {
  transform: rotate(15deg);
}