.container {
  height: 450px;
  width: 450px;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.circle1, .crc {
  height: 400px;
  width: 70px;
  border: 3px solid whitesmoke;
  position: relative;
  border-radius: 50%;
}

.circle1 {
  top: 25px;
  left: 190px;
}

.crc {
  bottom: 3px;
  right: 3px;
}

.circle1:hover {
  animation: spin 8s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}